
Extragradient/.ipynb_checkpoints/Verification_of_Lemma_C3-checkpoint.ipynb
Extragradient/.ipynb_checkpoints/Verification_of_Theorem_C4-checkpoint.ipynb
Optimistic_Gradient/.ipynb_checkpoints/Lemma_C8_symbolic_verification_and_matrix_estimation-checkpoint.ipynb
Optimistic_Gradient/.ipynb_checkpoints/Symbolic_verification_for_Theorem_C10-checkpoint.ipynb
Optimistic_Gradient/.ipynb_checkpoints/Verification_of_Lemma_C6-checkpoint.ipynb
Optimistic_Gradient/.ipynb_checkpoints/Verification_of_Lemma_C8-checkpoint.ipynb
Optimistic_Gradient/.ipynb_checkpoints/Verification_of_Theorem_C9-checkpoint.ipynb
